# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Saved data files
*.npy

# log files
*log*
offset_nfw/data/offset_nfw_table_500_1e-03_1e+03.npz
offset_nfw/data/offset_nfw_table_1000_1e-02_1e+02.npz
offset_nfw/data/offset_nfw_table_5000_1e-03_1e+03.npz
offset_nfw/data/offset_nfw_table_6000_1e-03_1e+03.npz
validation/job0/.sigma_mis_xrange_slice_0.npz
validation/job0/.sigma_mis_xrange_slice_1.npz
validation/job0/.sigma_mis_xrange_slice_2.npz
validation/job0/.sigma_mis_xrange_slice_3.npz
validation/job0/.sigma_mis_xrange_slice_4.npz
validation/job0/.sigma_mis_xrange_slice_5.npz
validation/job0/.sigma_mis_xrange_slice_6.npz
validation/job0/.sigma_mis_xrange_slice_7.npz
validation/job0/.sigma_mis_xrange_slice_8.npz
validation/job0/.sigma_mis_xrange_slice_9.npz
validation/job0/.sigma_nsize_5000_1e-03_1e+03.npz
validation/job0/sigma_mis_test_0.npz
validation/job0/sigma_mis_test_1.npz
validation/job0/sigma_mis_test_2.npz
validation/job0/sigma_mis_test_3.npz
validation/job0/sigma_mis_test_4.npz
validation/job0/sigma_mis_test_5.npz
validation/job0/sigma_mis_test_6.npz
validation/job0/sigma_mis_test_7.npz
validation/job0/sigma_mis_test_8.npz
validation/job0/sigma_mis_test_9.npz
validation/job0/sigma_mis_test_all.npz
offset_nfw/data/offset_nfw_table_1000_1e-02_1e+02_gamma.npz
offset_nfw/data/offset_nfw_table_1000_1e-02_1e+02_miscentered.npz
offset_nfw/data/offset_nfw_table_1000_5e-02_5e+03_gamma.npz
offset_nfw/data/offset_nfw_table_1000_5e-02_5e+03_miscentered.npz
offset_nfw/data/offset_nfw_table_6000_1e-03_1e+03_gamma.npz
offset_nfw/data/offset_nfw_table_6000_1e-03_1e+03_miscentered.npz
offset_nfw/data/offset_nfw_table_10000_1e-02_1e+05_gamma.npz
offset_nfw/data/offset_nfw_table_10000_1e-02_1e+05_miscentered.npz
offset_nfw/nfwCpp.py
offset_nfw/data/offset_nfw_table_1000_1e-02_1e+04_gamma.npz
offset_nfw/data/offset_nfw_table_1000_1e-02_1e+04_miscentered.npz
